In [1]:
import pandas as pd

In [4]:
iris_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv')

In [7]:
iris_df.head(6)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [8]:
iris_df.tail(6)

     sepal length  sepal width  petal length  petal width           class
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [9]:
iris_df.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

In [10]:
iris_df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
iris_df.shape

(150, 5)

In [19]:
iris_df['sepal length'].astype(int)

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: sepal length, Length: 150, dtype: int64

In [23]:
first_row = iris_df.iloc[[0,5,7]] # can specify an integer, a list of integers, or a slice
print(first_row)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [24]:
print(first_row['sepal length'])

0    5.1
5    5.4
7    5.0
Name: sepal length, dtype: float64

In [36]:
iris_df.loc[0, 'class'] = 'Test'# relies on label based indexing

In [37]:
# This is how you can modify bad data, using conditional statements 
# Pratice this with shitty data

In [38]:
iris_df.loc[0, 'sepal length'] = 5.1

In [39]:
iris_df.head()

  sepal length  sepal width  petal length  petal width        class
0          5.1          3.5           1.4          0.2         Test
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa

In [40]:
iris_df.replace('Test', 'Iris-setosa')

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [42]:
iris_df[(iris_df['petal width'] > 0.2) & (iris_df['class'] == "Iris-setosa")] # filtering data

   sepal length  sepal width  petal length  petal width        class
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
15          5.7          4.4           1.5          0.4  Iris-setosa
16          5.4          3.9           1.3          0.4  Iris-setosa
17          5.1          3.5           1.4          0.3  Iris-setosa
18          5.7          3.8           1.7          0.3  Iris-setosa
19          5.1          3.8           1.5          0.3  Iris-setosa
21          5.1          3.7           1.5          0.4  Iris-setosa
23          5.1          3.3           1.7          0.5  Iris-setosa
26          5.0          3.4           1.6          0.4  Iris-setosa
31          5.4          3.4           1.5          0.4  Iris-setosa
40          5.0          3.5           1.3          0.3  Iris-setosa
41          4.5          2.3           1.3          0.3  Iris-setosa
43          5.0          3.5           1.6          0.6  Iris-setosa
44          5.1          3.8           1.9          0.4  Iris-setosa
45          4.8          3.0           1.4          0.3  Iris-setosa

In [43]:
iris_df[(iris_df['petal width'] > 0.2) & (iris_df['class'] == "Iris-setosa")].reset_index(drop=True) # reset index's

   sepal length  sepal width  petal length  petal width        class
0           5.4          3.9           1.7          0.4  Iris-setosa
1           4.6          3.4           1.4          0.3  Iris-setosa
2           5.7          4.4           1.5          0.4  Iris-setosa
3           5.4          3.9           1.3          0.4  Iris-setosa
4           5.1          3.5           1.4          0.3  Iris-setosa
5           5.7          3.8           1.7          0.3  Iris-setosa
6           5.1          3.8           1.5          0.3  Iris-setosa
7           5.1          3.7           1.5          0.4  Iris-setosa
8           5.1          3.3           1.7          0.5  Iris-setosa
9           5.0          3.4           1.6          0.4  Iris-setosa
10          5.4          3.4           1.5          0.4  Iris-setosa
11          5.0          3.5           1.3          0.3  Iris-setosa
12          4.5          2.3           1.3          0.3  Iris-setosa
13          5.0          3.5           1.6          0.6  Iris-setosa
14          5.1          3.8           1.9          0.4  Iris-setosa
15          4.8          3.0           1.4          0.3  Iris-setosa

In [44]:
pd.to_datetime() # allows us to convert strings to a date/time aware data type

TypeError: to_datetime() missing 1 required positional argument: 'arg'

In [1]:
import seaborn as sns

In [2]:
sns.set_theme()

In [3]:
sns.relplot(
    data=iris_df,
    x="sepal length", y="sepal width", col="class",
)

NameError: name 'iris_df' is not defined